.main-heading {
    font-size: 50px;
    color: #121212;
    font-weight: bold;
    text-align: center;
}

.main-div {
    text-align: center;
}

.horijental {


    background-color: #ff3556;
    width: 100px;


    font-weight: bold;

}